# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE
.vscode/

# OS
.DS_Store

# Visual Studio / Rider generated
*.csproj
*.sln
*.slnx
*.user
*.userprefs

# Burst debug (don’t ship)
*_BurstDebugInformation_DoNotShip/

# APKs (optional: remove these lines if you WANT APKs in the repo)
*.apk
